html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

blockquote {
  color: #555;
  font-size: 1.125rem;
}

article ol {
  margin-left: -1.75em;
}

body {
  margin: 0;
}

article {
  border-bottom: 2px;
  border-bottom-color: #999;
  border-bottom-style: solid;
}

article header {
  border-bottom: 2px;
  border-bottom-color: #999;
  border-bottom-style: solid;
}
